@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jersey Musselman<br />
    23 Franklin Avenue Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    239-273-5286
</address>

<address>
    <strong>Email:</strong>   <a href="jm555115@ohio.edu">jm555115@ohio.edu</a><br />
   
</address>